@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-text: #232323;
    --font: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    line-height: 1.6;
    color: var(--color-text);
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-two);
    text-decoration: none;
    cursor: pointer;
}

/* Button */
.btn {
    display: inline-block;
    background: #fff;
    border-radius: 45px;
    font-size: 15px;
    color: var(--color-text);
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.btn-two {
    color: #fff;
    background: var(--color-two);
}

.btn-two:hover {
    color: #fff;
    background: var(--color-one);
}

.btn-one {
    color: #fff;
    background: var(--color-one);
}

.btn-one:hover {
    background: var(--color-two);
    color: #fff;
}
/* End Button */

/* Box Head */
.box-head {
    text-align: center;
    margin-bottom: 40px;
    margin: 0 auto;
    max-width: 600px;
}

.box-head .inner-title {
    color: var(--color-text);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 1.75px;
}

.box-head .inner-desc {
    color: #777;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 0.75px;
}
/* End Box Head */


